html {
    --main-color: #333333;
    --secondary-color: #fa694e;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans";
    margin: 0;
}

.container {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* header */

.header {
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 60px;
}

.header .container .menuBar {
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; 
    position: relative;
}

.header .container .menuBar .barItem {
    width: 100%;
    height: 3px;
    margin-bottom: 5px;
    background-color: white;
}

.header .container .menuBar .middleBar {
    width: 60%;
    height: 3px;
    margin-bottom: 5px;
    background-color: white;
    transition: 0.3s;
}

.header .container .menuBar:hover .middleBar {
    width: 100%;
}

.header .container .menuBar .menuList {
    width: 200px;
    position: absolute;
    list-style: none;
    color: var(--main-color);
    font-size: 20px;
    padding: 10px;
    margin: 0;
    top: 30px;
    left: -150px;
    background-color: #f6f6f6;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    display: none;
}

.header .container .menuBar .menuList::before {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent  #f6f6f6 transparent;
    position: absolute;
    top: -20px;
    right: 20px;
}

.header .container .menuBar .menuList li {
    padding: 10px;
    text-align: center;
}

.header .container .menuBar .menuList li:hover {
    padding-left: 20px;
    transition: 0.3s;
}

.header .container .menuBar .menuList li a {
    text-decoration: none;
    color: var(--main-color);
}

.header .container .menuBar .menuList .divider {
    border-bottom: 1px solid var(--main-color);
}

.header .container .menuBar:hover .menuList {
    display: block;
}

/* header */

/* Landing */
.landing {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-image: url(images/coding.jpg);
    background-size: cover;
}

.landing::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
}

.landing .container {
    width: 100%;
    height: 100%;
    position: relative;
}

.landing .container .mainText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.landing .container .mainText h1 {
    font-size: 80px;
    letter-spacing: 2px;
    color: white;
}

.landing .container .mainText p {
    font-size: 30px;
    letter-spacing: 2px;
    color: white;
}

.landing .container .mainText button {
    max-width: 500px;
    padding: 20px 40px;
    background-color: var(--secondary-color);
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 900;
    margin-top: 20px;
}

.landing .container .mainText button:hover {
    cursor: pointer;
    background-color: #b4321b;
}

@media (max-width: 600px) {
    .landing .container .mainText h1 {
        font-size: 60px;
    }
    
    .landing .container .mainText p {
        font-size: 20px;
    }
}

/* Landing */

/* Services */
.services {
    margin-top: 100px;
    margin-bottom: 100px;
}

.services .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services .container .service {
    width: 330px;
    text-align: center;
    margin: 20px;
}

.services .container .service i {
    font-size: 60px;
    color: var(--secondary-color);
}

.services .container .service h3 {
    font-size: 35px;
}

.services .container .service p {
    font-size: 25px;
    color: #777;
}
/* Services */

/* Stories */
.stories {
    background-color: #F6F6F6;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.stories .container h3 {
    font-size: 35px;
    margin: 0;
}

.stories .container p {
    font-size: 25px;
}

.stories .container .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.stories .container .cards a {
    text-decoration: none;
    color: #1F1F1F;
}

.stories .container .cards .card {
    width: 330px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.322);
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 40px;
    overflow: hidden;
}

.stories .container .cards .card .imgDiv {
    height: 50%;
    background-color: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stories .container .cards .card .imgDiv img {
    max-width: 50%;
}

.stories .container .cards .card .details {
    padding: 10px;
}


/* Stories */