#img {
    width: 100px;
    animation-name: anim1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
    z-index: 2;
  }
  
  
  body {
    background-image: linear-gradient(skyblue, transparent);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh; 
    margin: 0;
    overflow: hidden;   
  }
  
  #mainDiv {
    max-width: 600px;
    background-size: cover;
  }
  
  #mainDiv #sunImg {
    width: 200px;
    animation-name: anim2;
    animation-duration: 3s;   
    animation-iteration-count: infinite; 
    animation-timing-function: linear;
  } 
  
  
  #mainDiv #landImg {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }


  
  
  #onclickDiv {
    background-color: rgb(41, 50, 30);
    color: white;
    text-align: center;
    padding: 20px 40px;
    position: absolute;
    bottom: 4%;
    right: 4%;
    border-radius: 10px;
    font-size: 30px;
  }


#buttonDiv {
  background-color: rgb(41, 50, 30);
  color: white;
  text-align: center;
  padding: 20px 40px;
  position: absolute;
  bottom: 4%;
  right: 4%;
  border-radius: 10px;
  font-size: 30px;
  display: none;
}


#winterDiv {
  position: fixed;
  max-width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}


  @keyframes anim2 {
    to{
        transform: rotate(360deg);    
    }
  }
  
  @keyframes anim1 {
    to {
        transform: translate(100vw, 10vh);
    }
  }
  